@use "@/styles/all" as *;

.btn {
  @include flex-center;
  @include size(36px);
  border-radius: 8px;
  border: 1px solid $neutral200;
  background: transparent;
  cursor: pointer;
  font-family: $font-roboto-semiBold;
  font-size: 13px;
  color: $neutral700;
  text-decoration: none;
  @include transition;

  @include hover {
    background: $neutral100;
    border-color: $neutral300;
  }
}
