@use "@/styles/all" as *;

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  @include size(48px);
  border: 4px solid rgba($primary500, 0.2);
  border-top-color: $primary500;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}
