$desktop-design-viewport: 1440px;
$mobile-design-viewport: 320px;
$desktop-design-height: 768px;

// HelveticaNeue fonts
$font-helvetica-bold: var(--font-helvetica-neue-bold, 'HelveticaNeue-Bold');
// Roboto fonts
$font-roboto-reg: var(--font-roboto-regular, 'Roboto-Regular');
$font-roboto-semiBold: var(--font-roboto-semiBold, 'Roboto-SemiBold');
$font-roboto-medium: var(--font-roboto-medium, 'Roboto-Medium');
$font-roboto-bold: var(--font-roboto-bold, 'Roboto-Bold');
