@use "@/styles/all" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &.fullWidth {
    width: 100%;
  }
}

.required {
  color: #ef4444;
  margin-left: 2px;
}

.container {
  width: 100%;
}

.phoneInput {
  width: 100% !important;
  height: 36px !important;
  border-radius: 6px !important;
  border: 1px solid #e4e4e7 !important;
  background-color: #fff !important;
  color: #18181b !important;
  font-family: inherit !important;
  font-size: 14px !important;
  transition: all 0.2s ease !important;
  outline: none !important;

  &:focus {
    border-color: #000 !important;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05) !important;
  }

  &.error {
    border-color: #ef4444 !important;

    &:focus {
      box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.1) !important;
    }
  }
}

.errorMsg {
  font-size: 12.8px;
  font-weight: 500;
  color: #ef4444;
}
